<div class="container">
    <h2>Angular Form Builder</h2>
  
    <form (ngSubmit)="addFormElement()">
      
      <section class="form-section">
        <label for="elementName">Name:</label>
        <input class="Form" type="text" id="elementName" [(ngModel)]="elementName" name="elementName" required />
      </section>
  
      <section class="form-section">
        <label for="elementType">Type:</label>
        <select id="elementType" [(ngModel)]="elementType" name="elementType" required>
          <option value="text">Text</option>
          <option value="radio">Radio</option>
          <option value="email">Email</option>
          <option value="dropdown">Dropdown</option>
          <option value="checkbox">Checkbox</option>
          <option value="file">File</option>
          <option value="number">Number</option>
        </select>
      </section>
  
      <section class="form-section">
        <label for="isRequired">Required:</label>
        <label>
          <input type="radio" name="isRequired" [(ngModel)]="isRequired" [value]="'true'" /> True
        </label>
        <label>
          <input type="radio" name="isRequired" [(ngModel)]="isRequired" [value]="'false'" /> False
        </label>
      </section>
  
      <section class="form-section">
        <label for="elementLabel">Label:</label>
        <input class="Form" type="text" id="elementLabel" [(ngModel)]="elementLabel" name="elementLabel" required />
      </section>
  
      <button type="submit" [disabled]="!elementName || !elementLabel">Add Element</button>
    </form>
  
    <table class="tbl">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Required</th>
          <th>Label</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let formElement of formStructure; let i = index">
          <td>{{ formElement.name }}</td>
          <td>{{ formElement.type }}</td>
          <td>{{ formElement.required ? 'Yes' : 'No' }}</td>
          <td>{{ formElement.label }}</td>
        </tr>
      </tbody>
    </table>
  
    <button (click)="generateFormHTML()">Generate Form HTML</button>
  
    <div id="generatedForm" *ngIf="generatedFormCode">
      <h3>Generated Form HTML</h3>
      <pre>{{ generatedFormCode }}</pre>
    </div>
  </div>
  